body, html {
    height: 100%;
    margin: 0;
}

.bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-top {
    height: 100%;
}

.container-fluid  {
    padding-bottom: 60px;
    padding-top:  70px;
}

.box-style1 {
    background-color: cadetblue;
    color: white;
}

.box-style2 {
    background-color: lightgrey;
    color: cadetblue;
}

.testParent {
    position: relative;
}


.testVertChild {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading-top {
    font-size: xx-large;
    font-weight: 900;
    color: cadetblue;
}

