body, html {
    height: 100%;
    margin: 0;
}

.bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-top {
    height: 100%;
}

.container-fluid  {
    padding-bottom: 60px;
    padding-top:  70px;
}

.box-style1 {
    background-color: cadetblue;
    color: white;
}

.box-style2 {
    background-color: lightgrey;
    color: cadetblue;
}

.orange-box {
    background-color: #C23A2D;
    color: white;
}

.testParent {
    position: relative;
}


.testVertChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-top {
    font-size: xx-large;
    font-weight: 900;
    color: #224668;
}

a:link,a:hover, a:active, a:visited {
    color: black !important;
    text-decoration: none !important;
}

.colors {
    color: #BD7334;
    color: #224668;
    color: #4BB84F;
    color: #C1392D;
    color: #C23A2D;
}

.iconStyle {
    font-size: 50px;
}

.orderBar {
    position: fixed;
    width: 100%;
    z-index: 900;
    overflow: visible;
    background-color: #224668;
    color: white;
}

.withoutBar {
    z-index: 999;
}

/* modal */
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.img-select{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-select:hover, .img-select:active{
        opacity: 0.5
}
