<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>A Tu Casa</title>

    <!-- ***********style -->
    <!-- css boostrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/cstyle.css"/>

    <!-- ***********angular --->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- angular ng-route -->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <!-- bootstrap angular ui -->
    <script src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!-- animate -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <!-- angular translation library -->
    <script src="lib/translate.js"></script>
    <!-- session storage -->
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <!-- scroll stuff-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>

    <!-- ************site logic -->
    <script src="js/controller/controller.js"></script>
    <script src="js/controller/modalController.js"></script>
    <script src="js/controller/menuController.js"></script>
    <script src="js/controller/homeController.js"></script>
    <script src="js/controller/orderController.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="MyApp" ng-controller="Ctrl">

<!-- header bar --
<div class="orderBar">
    <div ng-if="orderStatus == 'order'">
        <div class="formgroup" style="float: left">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="formgroup" style="float: left">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>

        <div style="float: right">


            <button class="btn btn-default" style="float: right" ng-if="shoppingCartItems != 0" ng-click="submitOrder()">Place order</button>
            <div class="notification-icon" style="float: right; padding: 10px">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="badge">{{shoppingCartItems}}</span>
            </div>

        </div>
    </div>
    <div ng-if="orderStatus == 'orderFinished'">
        <p>your order will arrive soon</p>
        <button class="btn btn-default" style="float: right">Edit Order</button>
    </div>
</div>-->

<div ng-view  style="height: 100%; width: 100%"></div>

</body>
</html>
