<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>A Tu Casa</title>

    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css"/>

    <!-- angular --->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="lib/translate.js"></script>

    <!-- site logic -->
    <script src="js/app.js"></script>
</head>

<body ng-app="MyApp" ng-controller="Ctrl" style="height: 100%; width: 100%">



<div class=" testParent bg bg-top " style="background-image: url('img/chickpeas.jpg')">
    <div style="float: right">
        <button type="button" class="btn btn-default" ng-click="changeLanguage('en')" >en</button>
        <button type="button" class="btn btn-default" ng-click="changeLanguage('fr')" >fr</button>
    </div>
    <div class=" testVertChild text-center heading-top">
        <p>A Tu Casa</p>
        <img src="img/logo.png" width="20%" >
        <p translate="TITLE1"></p>
        <p translate="TITLE2"></p>
    </div>
</div>


<div class="container-fluid box-style1 text-center" >
    <h2 translate="HIW1">  </h2>
    <p translate="HIW2"> </p>
</div>



<div class="container-fluid text-center bg-grey">
    <h2 translate="RESTAURANTS1">Restaurants</h2><br>
    <div class="row text-center">
        <div class="col-sm-3">
            <a href="https://canmoredining.com/" target="_blank">
            <div class="thumbnail">
                <img src="img/mexicanFood.jpg" >
                <p><strong>Restaurant A</strong></p>
                <p>information</p>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://canmoredining.com/" target="_blank">
            <div class="thumbnail">
                <img src="img/mexicanFood.jpg" >
                <p><strong>Restaurant B</strong></p>
                <p>information</p>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://canmoredining.com/" target="_blank">
            <div class="thumbnail">
                <img src="img/mexicanFood.jpg" >
                <p><strong>Restaurant C</strong></p>
                <p>information</p>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://canmoredining.com/" target="_blank">
            <div class="thumbnail">
                <img src="img/mexicanFood.jpg" >
                <p><strong>Restaurant D</strong></p>
                <p>information</p>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://canmoredining.com/" target="_blank">
            <div class="thumbnail">
                <img src="img/mexicanFood.jpg" >
                <p><strong>Restaurant E</strong></p>
                <p>information</p>
            </div>
            </a>
        </div>
    </div><br>
</div>





<div class="container-fluid box-style2 text-center">
    <h1 translate="CONT1"></h1>
    <div style="padding-top: 1.5%;">
        <h4 translate="CONT2">  </h4>
        <h2>1234567</h2>
        <h4 translate="CONT3"> </h4>
        <h2> abc@x.ca</h2>
    </div>
</div>




</body>
</html>
