

<!-- start top picture -->
<div class=" testParent bg bg-top " style="background-image: url('img/sushi20.png')">
    <div style="float: right; padding-top: 40px; opacity: 1">
        <button type="button" class="btn btn-default" ng-click="$parent.changeLanguage('en')" >en</button>
        <button type="button" class="btn btn-default" ng-click="$parent.changeLanguage('fr')" >fr</button>
    </div>
    <div class=" testVertChild text-center heading-top">
        <p>A Tu Casa</p>
        <img src="img/ATCLogo.jpg" width="40%" >
        <p translate="TITLE1"></p>
        <p translate="TITLE2"></p>
    </div>
</div>


<!-- how it works -->
<div class="container-fluid text-center orange-box">
    <h2 translate="HIW1"></h2>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <p>You order food</p>
        </div>
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-chevron-right iconStyle"></span>
        </div>
        <div class="col-sm-2">
            <p>Restaurant prepares food</p>
        </div>

        <div class="col-sm-2">
            <span class="glyphicon glyphicon-chevron-right iconStyle"></span>
        </div>
        <div class="col-sm-2">
            <p>We pick up the food and deliver it to your door</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>



<!-- restaurants section -->
<div class="container-fluid text-center bg-grey">
    <h2 translate="RESTAURANTS1">Restaurants</h2><br>

    <div class="row text-center" >

        <div class="col-sm-3" ng-repeat="restaurant in $parent.restaurants" style="float: left">

                <div class="thumbnail" ng-click="showMenu(restaurant.id)">
                    <img src="img/mexicanFood.jpg" >
                    <p><strong>{{restaurant.name}}</strong></p>
                    <p>{{restaurant.info[$parent.languageKey]}}</p>

                    <button class="btn btn-default">menu</button>
                </div>

        </div>
    </div>
</div>



<!-- contact details -->
<div class="container-fluid orange-box">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Canmore, AB</p>
          <p><span class="glyphicon glyphicon-phone"></span> +0123456789</p>
          <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
</div>



