
<div class="container-fluid text-center bg-grey" style="padding-top: 10%">
    <h2>Restaurant: {{$parent.restaurants[restaurantId].name}} </h2><br>

    <div class="row text-center" >

        <div class="col-sm-1" ng-repeat="item in menu" style="float: left">
                <div class="thumbnail">
                    <img src="img/mexicanFood.jpg" >
                    <p><strong>{{item.name}}</strong></p>
                    <p>{{item.id}}</p>
                    <p>{{item.category}}</p>

                    <button class="btn" ng-click="open(item.id)">Order</button>
                </div>
        </div>
    </div>


</div>
